.header__links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 18px;
}

@media all and (max-width: 768px) {
    .header__links {
        padding-top: 30px;
    }    
}

@media all and (min-width: 768px) {
    .header__links {
        padding-top: 46px;
    }   
}     