.cover__subtitle {
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

@media all and (max-width: 768px) {
    .cover__subtitle {
        max-width: 288px;
        padding-top: 8px;
        font-size: 14px;
        line-height: 1.14;
    }    
}

@media all and (min-width: 768px) {
    .cover__subtitle {
        max-width: 360px;
        padding-top: 16px;
        font-size: 18px;
        line-height: 1.22;
    } 
}
