.place__paragraph-list {
    padding-left: 0;
    list-style-type: none;
}

@media all and (max-width: 767px) {
    .place__paragraph-list {
        margin-left: 16px;
        margin-right: 16px;
    }  
}

